.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  /*--menu-item-main-color: #546E7A;
  --menu-item-fade-color: #CFD8DC;*/

  --menu-item-main-color: #01579B;
  --menu-item-fade-color: #97d2ed;
}
.ListItem.Mui-selected {
    color: var(--menu-item-main-color);
    background-color: var(--menu-item-fade-color) !important;
    border-left: 5px solid var(--menu-item-main-color)  !important;
    /* clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0% 49%, 0% 0%); */
    
}
.ListItem:hover{
  color: var(--menu-item-main-color);
  border-left: 5px solid var(--menu-item-main-color) !important;
  background-color: #e5e1f2;
  color: #180d6f;
  transition: 0.1s;
  border-radius: 0px 10px 10px 0px;

}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  box-shadow: 0px 0px 4px 2px #c7d8dd !important;
}
